{% extends 'base.html.twig' %}

{% block title %}Задание{% endblock %}

{% block body %}
    <h2>Тестовое задание</h2>

    <p>
        Требуется создать систему по работе с контактными данными профайлов пользователей.
        Профайл содержит следующие контактные данные:
    </p>

    <ol>
        <li>email - может быть несколько</li>
        <li>телефон (возможные типы: домашний, мобильный, рабочий и т.п.) - может быть несколько</li>
        <li>ФИО</li>
    </ol>

    <p>
        В профайле должна быть возможность указать, какие email и телефон являются основными.
    </p>

    <p>
        Нужно дать пользователю возможность заполнить / отредактировать / посмотреть / удалить профайл и контактные данные.
    </p>

    <p>
        Требования: использование PHP (желательно ООП), MySQL.
    </p>

    <p>
        Результатом тестового задания должен быть исходный код и структура БД. Можно отправить в архиве.
    </p>

{% endblock %}
